
.home-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #f5f5f5;
    position: relative;
}


.sidebar {
    width: 90px;
    background: #3a3a3a;
    color: white;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}


@media (min-width: 769px) {
    .sidebar:hover {
        width: 250px;
        align-items: flex-start;
        padding: 20px;
    }

    .sidebar:hover span {
        opacity: 1;
    }
}


.profile-section {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
   
  
}

.icon-large {
    font-size: 3rem;
    margin-bottom: 10px;
}

.grid-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    /* padding-right: 12px; */
    padding:15px;
    border-radius: 8px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.grid-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.icon {
    font-size: 1.5rem;
    margin-right: 12px;
    min-width: 30px;
}

span {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover span {
    opacity: 1;
}


.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

/* ================= MOBILE ONLY ================= */
@media (max-width: 768px) {
    .sidebar {
        display: none; 
    }

    
    .mobile-bottom-button {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    
    .mobile-bottom-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        right: 0;
        background: #cce6f0;
        padding: 20px;
        height: 60%;
        transition: bottom 0.3s ease;
        z-index: 1000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .mobile-bottom-menu.open {
        bottom: 0;
    }

    
    .mobile-grid-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .grid-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e5f3f5;
    }

    .grid-item span {
        opacity: 1;
        margin-top: 8px;
    }

 
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
    }
}
@media (min-width: 769px) {
    .mobile-bottom-menu,
    .mobile-bottom-button {
        display: none; 
    }
}
